<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- <uses-feature -->
    <!-- android:name="android.hardware.camera" -->
    <!-- android:required="false" /> -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TTV"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".chatbox.VideoView"
            android:exported="false" />
        <activity
            android:name=".ObjectListActivity"
            android:label="Object List Activity">
            <!-- Add any intent filters or other activity configurations if needed -->
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".CircuitSimulationActivity"
            android:exported="false" />
        <activity
            android:name=".TextObjectPairing"
            android:exported="false" />
        <activity
            android:name=".ObjectCaptureActivity"
            android:exported="false" />
        <activity
            android:name=".MathSolve"
            android:exported="false" />
        <activity
            android:name=".Draw"
            android:exported="false" />
        <activity
            android:name=".CameraScanner"
            android:exported="false" />
        <activity
            android:name=".ImageContextResult"
            android:exported="false" />
        <activity
            android:name=".ImageContext"
            android:exported="false" />
        <activity
            android:name=".LoadingActivity"
            android:exported="true" />
        <activity
            android:name=".RemoveBackground"
            android:exported="true" />
        <activity
            android:name=".DisplayActivity"
            android:exported="true" />
        <activity
            android:name=".first_view"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home"
            android:theme="@style/Home" />
        <activity
            android:name=".SolutionActivity"
            android:label="Solutions"
            android:theme="@style/Solutions" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".Camera" />
<!--        <activity android:name=".Camera" />-->
        <activity android:name=".chatbox.chatbox" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.mlkit.vision.DEPENDENCIES"
            android:value="ocr,model2,model3" /> <!-- To use multiple models: android:value="ocr,model2,model3" -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3113729740390193~4962092615" />
    </application>

</manifest>